<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd">

	<mvc:annotation-driven></mvc:annotation-driven>

	<mvc:default-servlet-handler/>
	
	<mvc:view-resolvers>
		<mvc:jsp prefix="/WEB-INF/views/"/>
	</mvc:view-resolvers>
	
	<mvc:view-controller path="/main" view-name="main"/>
	<!--  컨트롤러 객체 없이 요청에 대한 응답 페이지를 연결 -->
	
	<mvc:view-controller path="/" view-name="main"/>
	
	<bean id="messageSource"
	class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>classpath:label</value>
				<!-- <value>classpath:message/label</value> -->
			</list>
		</property>
		<property name="defaultEncoding" value="UTF-8"/>
	</bean>
	
<!-- 인터셉터를 설정하기  -->
	<mvc:interceptors>
		<mvc:interceptor>
	<!-- 		
				1. 인터셉터를 어디에 적용할 것인가??
				2. 어떤 인터셉터를 사용할 것인가??
			 -->
			<!--  어디에 -->
			 <mvc:mapping path="/edit/**"/>
			<!--  어떤 인터셉터 -->
			 <bean class="spring.intercepter.AuthCheckIntercepter"/>
		</mvc:interceptor>
	<!-- 	<mvc:interceptor></mvc:interceptor> -->
	
	</mvc:interceptors>
	
</beans>











